@{ 
    int maxProperties = 4;
}
<div class="row">
    <div class="col-12">

        <!-- Create Dataset ----------------------------- -->
        <h5>Create Dataset</h5>
        <form id="create-dataset">

            <div class="form-row">
                <div class="form-group col-12 col-sm-6">
                    <label>Name</label>
                    <input type="text" class="form-control" name="datasetlabel">
                </div>
            </div>
            <h6>Properties</h6>
            <div class="form-row">
                <div class="col-6 col-md-4">
                    <label>Label</label>
                </div>
                <div class="col-5 col-md-3">
                    <label>Type</label>
                </div>
            </div>
            <div class="form-props">
                @for (int i = 0; i < maxProperties; i++)
                {
                    <div class="form-row" @(i > 0 ? "hidden" : "")>
                        <div class="form-group col-6 col-md-4">
                            <input type="text" class="form-control" name="label" @(i > 0 ? "disabled" : "")>
                        </div>
                        <div class="form-group col-5 col-md-3">
                            <select class="form-control" name="type" @(i > 0 ? "disabled" : "")>
                                @foreach (var type in Model.SeriesTypes)
                                {
                                    <option value="@type.Key">@type.Value</option>
                                })
                            </select>
                        </div>
                        <div class="form-group col-1">
                            <button type="button" class="btn btn-link remove">
                                <i class="fas fa-times-circle"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
            <input type="button" class="btn btn-secondary addProperty" id="createAddProperty" value="Add Property" />

        </form>

    </div>

</div>

<script src="~/Scripts/views/createdataset.js"></script>