@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id="dynamic"></style>

<div class="row">
    <div class="col-12">

        <!-- Manage Datasets Tab -->
        <ul class="nav nav-tabs">
            <li class="mr-2">
                <select id="datasetSelect" class="custom-select selectpicker">
                    @Html.Partial("Partials/_DatasetOptions")
                </select>
            </li>
            <li class="nav-item" id="add-tab">
                <a class="nav-link" id="add" data-toggle="tab" href="#tab-add">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item ml-auto" id="save-tab" style="display: none;">
                <a class="nav-link" id="save" data-toggle="tab" href="#tab-chart">Save</a>
            </li>
            <li class="nav-item" id="cancel-tab" style="display: none;">
                <a class="nav-link" id="cancel" data-toggle="tab" href="#tab-chart">Cancel</a>
            </li>
            <li class="nav-item ml-auto" id="settings-tab">
                <a class="nav-link" id="settings" data-toggle="tab" href="#tab-settings">Settings</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-chart"></div>
            <div class="tab-pane fade" id="tab-add"></div>
            <div class="tab-pane fade" id="tab-settings"></div>
        </div>

    </div>
</div>


<script>

    // Options ------------------------------------------------------------
    var chart;
    var currentDataset;


    // Initialize page ----------------------------------------------------


    // Edit Dataset -----------
    var curDatasetLabel;
    var curPropLabels = [];
    var curPropTypes = [];

    

    $.get('@Url.Action("ViewDatasetView", "Home")', { id: $('#datasetSelect').val() }, function (html) {
        $('#tab-chart').html(html);

        $.get('@Url.Action("GetDataset", "Home")/' + $('#datasetSelect').val(), function (data)
        {
            currentDataset = JSON.parse(data);
            console.log(currentDataset);

            refreshChart(currentDataset, $('.ct-chart'));
        });
    })


    // Init Tabs --------------------------------------------------------
    var $addTab = $('#add-tab');
    var $settingsTab = $('#settings-tab');
    var $saveTab = $('#save-tab');
    var $cancelTab = $('#cancel-tab');

    $(function () {

        // On tab swap
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var tabId = $(e.target).prop('id');
            var prevTabId = $(e.relatedTarget).prop('id');

            // Custom hide/show tab behavior
            swapTabs(tabId);

            if (tabId == 'settings')
            {
                $.get('@Url.Action("EditDatasetView", "Home")', { id: currentDataset.id }, function (html) {
                    $('#tab-settings').html(html);
                })
            }
            else if (tabId == 'add')
            {
                $.get('@Url.Action("CreateDatasetView", "Home")', function (html) {
                    $('#tab-add').html(html);
                })
            }
            else if (tabId == 'save')
            {
                $('#save-tab').off('click');
            }
            
        })

    })


    // - Events --------------------------------------------------------------

    // Dataset Select - On Change
    $('#datasetSelect').change(function (e) {
        $.get('@Url.Action("GetDataset", "Home")/' + $('#datasetSelect').val(), function (data)
        {
            currentDataset = JSON.parse(data);
            refreshChart(currentDataset, $('.ct-chart'));
        });
    });


    // - Functions -----------------------------------------------------------

    // Show/hide tabs for pane swap
    function swapTabs(tabId) {

        if (['add', 'settings'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', true);

            $addTab.hide();

            $saveTab.show();
            $cancelTab.show();

            $settingsTab.hide();

        } else if (['save', 'cancel'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', false);

            $addTab.show();

            $saveTab.hide();
            $cancelTab.hide();

            $settingsTab.show();
        }
    }

    // Refresh #DatasetSelect options.  Pass value to update selected option
    function refreshDatasetOptions($select, value) {
        if (!value) value = $select.val();

        // TODO: create & edit use this to update form, & chart.  Not good!
        $.get('@Url.Action("DatasetOptions", "Home")', function (html) {
            $select.html(html).val(value).trigger('change');
        })
    }

</script>
