@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id="dynamic"></style>

<div class="row">
    <div class="col-12">

        <!-- Manage Datasets Tab -->
        <ul class="nav nav-tabs">
            <li class="mr-2">
                <select id="datasetSelect" class="custom-select selectpicker">
                    @Html.Partial("Partials/_DatasetOptions")
                </select>
            </li>
            <li class="nav-item" id="add-tab">
                <a class="nav-link" id="add" data-toggle="tab" href="#tab-add">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item ml-auto" id="save-tab" style="display: none;">
                <a class="nav-link" id="save" data-toggle="tab" href="#tab-chart">Save</a>
            </li>
            <li class="nav-item" id="cancel-tab" style="display: none;">
                <a class="nav-link" id="cancel" data-toggle="tab" href="#tab-chart">Cancel</a>
            </li>
            <li class="nav-item ml-auto" id="settings-tab">
                <a class="nav-link" id="settings" data-toggle="tab" href="#tab-settings">Settings</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-chart">
                @Html.Partial("Partials/_ViewDataset")
            </div>
            <div class="tab-pane fade" id="tab-add"></div>
            <div class="tab-pane fade" id="tab-settings"></div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.js"></script>
<script>

    // Global -------------------------------------------------------------
    const LAST_DATASET_ID_KEY = 'lastDatasetId';

    var chart;
    var currentDataset;

    var dataId;

    // - Queries -------------------------------------------------------------
    function getDatasetQuery(id) {
        return `https://localhost:44311/odata/Datasets(${id})?$expand=Records/Properties,Records/Notes,Series/SeriesType`;
    }

    // Initialize page ----------------------------------------------------
    updateDataset();

    // Dataset Select - On Change
    $('#datasetSelect').change(updateDataset);


    // Init Tabs --------------------------------------------------------
    var $addTab = $('#add-tab');
    var $settingsTab = $('#settings-tab');
    var $saveTab = $('#save-tab');
    var $cancelTab = $('#cancel-tab');

    $(function () {

        // On tab swap
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var tabId = $(e.target).prop('id');
            //var prevTabId = $(e.relatedTarget).prop('id');

            // Custom hide/show tab behavior
            swapTabs(tabId);

            if (tabId == 'settings')
            {
                $.get('@Url.Action("EditDatasetView", "Home")', { id: currentDataset.Id }, function (html) {
                    $('#tab-settings').html(html);
                })
            }
            else if (tabId == 'add')
            {
                $.get('@Url.Action("CreateDatasetView", "Home")', function (html) {
                    $('#tab-add').html(html);
                })
            }
            else if (tabId == 'save')
            {
                $('#save-tab').off('click');
            }
            
        })

    })


    // - Global Functions ----------------------------------------------------
    function getCookie(key)
    {
        const cookies = document.cookie.split(';');
        var result = cookies
            .map(pair => pair.trim().split('='))
            .filter(pair => pair[0] == key)[0];
        return result ? result[1] : null;
    }

    function setCookie(key, value, days) {
        var expires;
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 *1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = key + "=" + value + expires + "; path=/";
    }

    
    // Update current dataset (& cookie)
    function updateDataset(updateCookie = true)
    {
        const dataId = $('#datasetSelect').val();

        if (updateCookie) setCookie(LAST_DATASET_ID_KEY, dataId, 100);

        $.get(getDatasetQuery(dataId), (data) => {
            currentDataset = data;
            refreshForm(currentDataset);
            refreshChart(currentDataset, $('.ct-chart'));
        });
    }

    // Show/hide tabs for pane swap
    function swapTabs(tabId)
    {
        if (['add', 'settings'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', true);

            $addTab.hide();

            $saveTab.show();
            $cancelTab.show();

            $settingsTab.hide();

        } else if (['save', 'cancel'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', false);

            $addTab.show();

            $saveTab.hide();
            $cancelTab.hide();

            $settingsTab.show();
        }
    }

    // Refresh #DatasetSelect options.  Pass value to update selected option
    function refreshDatasetOptions($select, value) {
        if (!$select) $select = $('#datasetSelect');
        if (!value) value = $select.val();

        // TODO: create & edit use this to update form, & chart.  Not good!
        $.get('@Url.Action("DatasetOptions", "Home")', function (html) {
            $select.html(html).val(value).trigger('change');
        })
    }

</script>
