@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style id="dynamic"></style>

<div class="row">
    <div class="col-12">

        <!-- Manage Datasets Tab -->
        <ul class="nav nav-tabs">
            <li class="mr-2">
                <select id="datasetSelect" class="custom-select selectpicker">
                    @Html.Partial("Partials/_DatasetOptions")
                </select>
            </li>
            <li class="nav-item" id="add-tab">
                <a class="nav-link" id="add" data-toggle="tab" href="#tab-add">
                    <i class="fas fa-plus"></i>
                </a>
            </li>
            <li class="nav-item ml-auto" id="save-tab" style="display: none;">
                <a class="nav-link" id="save" data-toggle="tab" href="#tab-chart">Save</a>
            </li>
            <li class="nav-item" id="cancel-tab" style="display: none;">
                <a class="nav-link" id="cancel" data-toggle="tab" href="#tab-chart">Cancel</a>
            </li>
            <li class="nav-item ml-auto" id="settings-tab">
                <a class="nav-link" id="settings" data-toggle="tab" href="#tab-settings">Settings</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab-chart">@Html.Partial("Partials/_ViewDataset")</div>
            <div class="tab-pane fade" id="tab-add"></div>
            <div class="tab-pane fade" id="tab-settings"></div>
        </div>

    </div>
</div>


<script>

    // Options ------------------------------------------------------------
    var chart;
    var currentDataset;

    var maxProperties = 4;


    // Initialize page ----------------------------------------------------


    // Edit Dataset -----------
    var curDatasetLabel;
    var curPropLabels = [];
    var curPropTypes = [];

    $.get('@Url.Action("GetDataset", "Home")/' + $('#datasetSelect').val(), function (data)
    {
        currentDataset = JSON.parse(data);
        refreshForm(currentDataset);
        refreshChart(currentDataset, $('.ct-chart'));
    });



    // Init Tabs --------------------------------------------------------
    var $addTab = $('#add-tab');
    var $settingsTab = $('#settings-tab');
    var $saveTab = $('#save-tab');
    var $cancelTab = $('#cancel-tab');

    $(function () {

        // On tab swap
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var tabId = $(e.target).prop('id');
            var prevTabId = $(e.relatedTarget).prop('id');

            // Custom hide/show tab behavior
            swapTabs(tabId);

            // - SETTINGS ------------------------------------------------
            if (tabId == 'settings')
            {
                $.get('@Url.Action("EditDatasetView", "Home")', function (html) {
                    $('#tab-settings').html(html);
                })
            }

            // - ADD -----------------------------------------------------
            else if (tabId == 'add')
            {
                $.get('@Url.Action("CreateDatasetView", "Home")', function (html) {
                    $('#tab-add').html(html);
                })
            }

            // - SAVE ----------------------------------------------------
            else if (tabId == 'save')
            {

                if (prevTabId == 'add') {

                    var datasetLabel = $('#createDatasetLabel').val();

                    var propLabels = [];
                    var propTypes = [];

                    $.each($('input[id^=label]'), function (index, value) {
                        propLabels.push($(value).val());
                    });
                    $.each($('select[id^=type]'), function (index, value) {
                        propTypes.push($(value).val());
                    });

                    var data = {
                        datasetLabel: datasetLabel,
                        labels: propLabels,
                        types: propTypes
                    };

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("CreateDataset", "Home")',
                        traditional: true,
                        data: data
                    })
                        .done(function (id) {
                            // Update select and focus new value
                            refreshDatasetOptions($('#datasetSelect'), id);
                        })

                }
                else if (prevTabId == 'settings')
                {
                    var datasetLabel;

                    if ($('#edit-datasetLabel').hasClass('is-valid'))
                        datasetLabel = $('#edit-datasetLabel').val();

                    var propIds = [];
                    var propLabels = []
                    var propColors = [];

                    $.each($('#editDataset .form-props .form-row'), function (index, value) {

                        if ($('#edit-label-' + index, value).hasClass('is-valid') || $('#edit-color-' + index).hasClass('is-valid')) {
                            var propId = $(value).attr('id');
                            propIds.push(propId.substr(propId.indexOf('-') + 1));
                            propLabels.push($('#edit-label-' + index, value).val());
                            propColors.push($('#edit-color-' + index, value).val());
                        }
                    });

                    var data = {
                        datasetId: $('#datasetSelect').val(),
                        datasetLabel: datasetLabel,
                        ids: propIds,
                        labels: propLabels,
                        colors: propColors
                    }

                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("UpdateDataset", "Home")',
                        traditional: true,
                        data: data
                    })
                        .done(function () {
                            $.get('@Url.Action("GetDataset", "Home")/' + $('#datasetSelect').val(), function (data) {
                                currentDataset = JSON.parse(data);
                                refreshForm(currentDataset);
                                refreshChart(currentDataset, $('.ct-chart'));

                                // Update Dataset Select
                                $('#datasetSelect option:selected').html(currentDataset.label);

                                // Reset Edit Dataset Form
                                $('#editDataset .is-valid').removeClass('is-valid');
                            });
                        });
                }

            } // save
            
        }) // On tab swap

    });


    // - Events --------------------------------------------------------------

    // Dataset Select - On Change
    $('#datasetSelect').change(function (e) {
        $.get('@Url.Action("GetDataset", "Home")/' + $('#datasetSelect').val(), function (data)
        {
            currentDataset = JSON.parse(data);
            refreshForm(currentDataset);

            refreshChart(currentDataset, $('.ct-chart'));
        });
    });


    // - Functions -----------------------------------------------------------

    // Show/hide tabs for pane swap
    function swapTabs(tabId) {

        if (['add', 'settings'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', true);

            $addTab.hide();

            $saveTab.show();
            $cancelTab.show();

            $settingsTab.hide();

        } else if (['save', 'cancel'].indexOf(tabId) >= 0) {
            $('#datasetSelect').prop('disabled', false);

            $addTab.show();

            $saveTab.hide();
            $cancelTab.hide();

            $settingsTab.show();
        }
    }

    // Refresh #DatasetSelect options.  Pass value to update selected option
    function refreshDatasetOptions($select, value) {
        $.get('@Url.Action("DatasetOptions", "Home")', function (html) {
            $select.html(html);

            if (value) $select.val(value).trigger('change');
        })
    }

</script>
